.dl-table {
  a {
    @supports ((text-decoration-thickness: initial) and (text-underline-offset: initial)) {
      text-underline-offset: .8rem;
    }
    @supports not ((text-decoration-thickness: initial) and (text-underline-offset: initial)) {
      padding-bottom: .45rem;
    }
  }

  .btn, .gumroad-button  {
    margin: 1rem 0;
  }
}

.sidebar .sidebar-sticky .avatar {
  width: 180px;
  height: 180px;
  border: 4px solid #fff;
  border-radius: 50%;
  padding: 4px;
  box-sizing: border-box;
}

.sidebar .sidebar-sticky .avatar img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
  border-radius: 50%;
}

.sidebar .sidebar-sticky .note {
  border: none !important;
  box-shadow: none !important;
  background: transparent !important;
}

.content .avatar {
  width: 200px !important;
  height: auto !important;
  border: 4px solid rgb(79,177,186);
  border-radius: 50%;
  padding: 4px;
  box-sizing: border-box;
}

.content .avatar img {
  width: 100% !important;
  height: auto !important;
  object-fit: cover;
  display: block;
  border-radius: 50%;
}